<style>
    .wavy-background {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 2;
        overflow: hidden;
    }
    .wavy-background svg {
        {% comment %} position: absolute;
        top: 0;
        left: 0; {% endcomment %}
        width: 100%;
        {% comment %} height: 100%; {% endcomment %}
    }
    .wavy-background .content-container {
        position: relative;
        z-index: 1;
        padding: {{ section.settings.padding }}px 0 0 0;
        text-align: center;
        background-color: {{ section.settings.background_start_color }};
        border-radius: 0;
        margin-top: -20px;
        width: 100%;
    }
    #shopify-section-template--22565320327473__wavy_recommendation_Qyb9wz {
        margin-top: -50px !important;
    }
</style>
<style>
    /* Positioning the carousel relative */
    .owl-carousel {
        position: relative;
    }
    .review-text-content p {
        margin:20px 0 0 0 !important;
        font-family: inherit;
        font-size: 18px;
        text-align: inherit; 
        letter-spacing: 0px; 
        color: rgb(255, 255, 255);
    }

    .owl-carousel .owl-nav button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 2rem;
    }
    
    .owl-carousel .owl-nav .owl-prev {
        left: 0; /* Adjust the left positioning of the previous button */
        top: 140px;
    }
    
    .owl-carousel .owl-nav .owl-next {
        right: 0; /* Adjust the right positioning of the next button */
        top: 140px;
    }

    .owl-carousel .owl-item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .owl-carousel .owl-item img {
        height: auto;
        width: 129px;
        margin: 40px auto;
    }

    .content-carousel {
        display: flex;
        flex-direction: column;
        justify-content: start;
        text-align: left;
        padding:10px 0px;    
    }

    .content-carousel span p {
        margin: 2px 0;
    }

    .content-carousel h1 {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 8px;
        font-style: italic;
        color: #ffffff;
        font-family: var(--ff-harmonia-bold-pro-italic) !important;
    }

    .item {
        padding: 10px 10px;
    }

    .item h1 {
        font-size: 40px !important;
        line-height: 1.1em !important;
        letter-spacing: 0px !important;
        text-transform: none !important;
        
    }

    .item h1 {
        margin-top: 10px;
        margin-bottom: 20px;
        font-style: italic;
        color:{{ section.settings.text_color }};
        font-family: var(--ff-harmonia-bold-pro-italic) !important;
    }

    .nav-carousel {
        color: #000;
        background: {{ section.settings.text_color }};
        font-weight: bold;
        border-radius: 5px;
        padding: 18px 20px;
    }
    
    
    {% if template == 'index' %}
        .banner {
            padding-bottom: 0;
        }
    {% endif %}
    @media screen and (max-width: 750px) {
        #wave-top,#wave-bottom {
            width: auto !important;
            height: 37px !important;
        }
        .item h1 {
            font-size: 26px !important;
            line-height: 1.2em !important;
            letter-spacing: 0px !important;
            color:{{ section.settings.text_color }};
            text-transform: none !important;
            padding: 0 40px!important;
            font-family: var(--ff-harmonia-bold-pro-italic) !important;
        }
        
        .owl-carousel .owl-item img {
            height: auto;
            width: 108px !important;
            margin: 40px auto;
        }

        .item {
            padding: 0;
        }
        {% if template == 'index' %}
        .banner {
            padding-bottom: 350px !important;
        }
        {% endif %}
    }
    /* Adjust width and padding for mobile */
    @media screen and (max-width: 750px) {
        .owl-carousel {
            width: 100%; /* Set width to full container */
        }

        .owl-carousel .owl-item {
            width: 100%; /* Each item should take up the full width */
            padding: 0; /* Remove padding to avoid partial display of other items */
        }
    }
           /* Define the initial state of the navigation buttons */
           .owl-prev, .owl-next {
            opacity: 0; /* Initially hidden */
            transform: translateY(-20px); /* Initially translated up */
            transition: all 0.3s ease-in-out; /* Transition for smooth effects */
        }
    
        /* Apply fade-in and slide-in effects when hovering over the carousel */
        .fade-in-slide-in {
            opacity: 1; /* Fade in */
            transform: translateY(0); /* Slide down */
        }
     
</style>

<script>
    $(document).ready(function() {
        // Initialize Owl Carousel
        $(".owl-carousel").owlCarousel({
            items: 1,
            loop: true,
            nav: true,
            navText: ['<span class="nav-carousel">&lt;</span>', '<span class="nav-carousel">&gt;</span>'],
            autoplay: false,
            autoplayTimeout: 4000,
        });
    
        // Add hover event handler to the carousel container
        $(".owl-carousel").hover(
            function() {
                // Add the class to the navigation buttons when hovering over the carousel
                $(this).find('.owl-prev, .owl-next').addClass('fade-in-slide-in');
            },
            function() {
                // Remove the class when the hover ends
                $(this).find('.owl-prev, .owl-next').removeClass('fade-in-slide-in');
            }
        );
    });
  </script>

<div class="wavy-background">
    {% comment %} <svg style="margin-top: -200px;" width="100%" height="100%" id="svg" viewBox="0 70 1440 180" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 L 0,150 C 28.118637339195352,138.41227543944083 56.237274678390705,126.82455087888165 83,120 C 109.7627253216093,113.17544912111835 135.1695386256325,111.1140719239142 175,125 C 214.8304613743675,138.8859280760858 269.0845708190793,168.71916142546166 302,190 C 334.9154291809207,211.28083857453834 346.49217809805026,224.00928237423904 376,214 C 405.50782190194974,203.99071762576096 452.94671678871987,171.24370907758214 491,159 C 529.0532832112801,146.75629092241786 557.7209547470701,155.0158813154323 580,158 C 602.2790452529299,160.9841186845677 618.1694642229997,158.6927656606885 655,147 C 691.8305357770003,135.3072343393115 749.6011883609308,114.2130560418137 781,99 C 812.3988116390692,83.7869439581863 817.425782333277,74.45501017205666 848,107 C 878.574217666723,139.54498982794334 934.6956823059613,213.96690326995966 968,220 C 1001.3043176940387,226.03309673004034 1011.7914884428778,163.67737674810473 1040,120 C 1068.2085115571222,76.32262325189527 1114.1383639225273,51.323589737621404 1147,86 C 1179.8616360774727,120.6764102623786 1199.655055867012,215.02826430140962 1232,214 C 1264.344944132988,212.97173569859038 1309.241412609425,116.56335305674011 1346,90 C 1382.758587390575,63.436646943259895 1411.3792936952875,106.71832347162994 1440,150 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="{{ section.settings.background_start_color }}" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0"></path></svg> {% endcomment %}
    <img src="{{ 'wave-a.svg' | asset_url }}" id="wave-top" alt="wave-top" width="100%" height="auto" />
    <div class="content-container">
        <div class="grid grid-cols-2 gap-4">
            <div class="content-carousel" style="color:{{ section.settings.text_color }}">
                <h1 class="on-desktop" style="font-style:italic;color:{{ section.settings.text_color }};">{{ section.settings.heading }}</h1>
                <div class="on-desktop">
                    <span style="font-weight:bold; font-size: 18px; margin-top:10px;">{{ section.settings.rating }}</span>
                    <span class="review-text-content">{{ section.settings.content }}</span>
                </div>
                <span class="on-mobile" style="text-align:center; font-weight:bold; text-transform: uppercase;">{{ section.settings.fans_comment }}</span>
            </div>

            <div>
                <div class="owl-carousel">
                    {%- for block in section.blocks -%}
                        {% case block.type %}
                        {%- when 'review' -%}
                            <div class="item" {{ block.shopify_attributes }}>
                                <h1>"{{ block.settings.review_text }}"</h1>
                                {% if block.settings.image != blank %}
                                    {{
                                        block.settings.image
                                        | image_url: height: 50
                                        | image_tag:
                                        loading: 'lazy'
                                    }}
                                {% endif  %}
                            </div>
                        {% endcase %}
                    {%- endfor -%}
                </div>

            </div>
          </div>
    </div> 
    <img src="{{ 'wave-b.svg' | asset_url }}" id="wave-bottom" alt="wave-bottom" width="100%" height="auto" style="background: {{section.settings.background_end_color}};" />
    {% comment %} <svg style="background: {{section.settings.background_end_color}};margin-bottom: -20px;" width="100%" height="100%" id="svg" viewBox="0 0 1440 390" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><path d="M 0,400 L 0,150 C 40.17875170893976,184.91153066917872 80.35750341787951,219.8230613383574 107,217 C 133.6424965821205,214.1769386616426 146.74873803742176,173.61928531574907 177,167 C 207.25126196257824,160.38071468425093 254.64754443243345,187.69979739864627 294,166 C 333.35245556756655,144.30020260135373 364.6610842328443,73.58152508966585 396,81 C 427.3389157671557,88.41847491033415 458.70811863618906,173.97410224269035 487,180 C 515.291881363811,186.02589775730965 540.5064412223993,112.52206593957284 571,81 C 601.4935587776007,49.47793406042716 637.2661164742135,59.9376339990183 668,90 C 698.7338835257865,120.0623660009817 724.4290928807469,169.72739806435405 755,195 C 785.5709071192531,220.27260193564595 821.0175120027986,221.1527737435656 852,218 C 882.9824879972014,214.8472262564344 909.5008591080584,207.6615069613836 946,188 C 982.4991408919416,168.3384930386164 1028.979051564968,136.2011984109 1062,141 C 1095.020948435032,145.7988015891 1114.5829346320704,187.53369939501653 1141,202 C 1167.4170653679296,216.46630060498347 1200.6892099067502,203.664004009034 1237,203 C 1273.3107900932498,202.335995990966 1312.6602257409284,213.8102845688474 1347,207 C 1381.3397742590716,200.1897154311526 1410.6698871295357,175.0948577155763 1440,150 L 1440,400 L 0,400 Z" stroke="none" stroke-width="0" fill="{{ section.settings.background_start_color }}" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 200)"></path></svg> {% endcomment %}
</div>

{% schema %}
{
    "name": "Wavy Background Section",
    "tag": "section",
    "class": "section",
    "disabled_on": {
        "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "image_picker",
            "id": "wave_top",
            "label": "Icon Image"
        },
        {
            "type": "image_picker",
            "id": "wave_bottom",
            "label": "Icon Image"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Over 50,000 sleepers have spoken"
        },
        {
            "type": "text",
            "id": "fans_comment",
            "label": "Fan Say",
            "default": "What our fans say"
        },
        {
            "type": "text",
            "id": "rating",
            "label": "Rating",
            "default": "★★★★★ (4.8)"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>based 2,814 Reviews</p>"
        },
        {
            "type": "color",
            "id": "background_start_color",
            "label": "Background Start Color",
            "default": "#ff9a9e"
        },
        {
            "type": "color",
            "id": "background_end_color",
            "label": "Background End Color",
            "default": "#FDFBF7"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
            "default": "#ffffff"
        },
        {
            "type": "number",
            "id": "padding",
            "label": "Padding",
            "default": 50
        }
    ],
    "blocks": [
        {
            "type": "review",
            "name": "Review",
            "limit": 5,
            "settings": [
              {
                "type": "inline_richtext",
                "id": "review_text",
                "default": "This silver-infused pillowcase changed our hair and skin forever",
                "label": "Review"
              },
              {
                "type": "image_picker",
                "id": "image",
                "label": "Upload image"
              }
            ]
          }
    ],
    "presets": [
        {
            "name": "Wavy Recommendation"
        }
    ]
}
{% endschema %}
